.author {
	background-color: @primary-base;

	.main-wrap {

		/* change the width percentage on table */
		/* 90% = 540px  --  95% = 570px + 30px */
		max-width: @main-max-width + 30;

		a, p, strong {

			font-size: 13px;
			line-height: 14px;
			text-align: right;
		}
	}
}
