.disclaimer {
	background-color: @primary-base;

	.main-wrap {

		/* change the width percentage on table */
		/* 90% = 540px  --  95% = 570px + 30px */
		max-width: @main-max-width + 30;
		background-color: @secondary-base;

		a, p {

			font-family: @openSans;
			font-size: 12px;
			color: @primary-color-text;
			line-height: 150%;
		}
	}
}
