.program-list {
	background-color: @primary-base;

	.main-wrap {
		@mainWrap: @main-max-width - 40;
		//change the width percentage on table
		// unit((540 * 100) / 600)+0% = 90%
		width: unit((@mainWrap * 100) / @main-width)+0%;
		max-width: @mainWrap;
		background-color: @primary-base; // @fith-bgcolor;

		a, p {
			font-family: @openSans;
			font-size: 16px;
			font-weight: 300;
			color: @primary-color-text;
		}

		span {
			font-size: 16px;
			color: @primary-color-text; // @fith-color;
			display: inline-block;
		}

		a {
			text-decoration: none;
		}
	}

	.inner-wrap {
		min-width: 194px;
		max-width: @main-max-width;

		td {
			vertical-align: middle;
		}
	}

	.headerimg {
		width: 100%;
		max-width: @main-max-width;
	}

	.btn-fixed {
		min-width: 48px;
		max-width: 58px;
	}

	.lightgreybg {
		background-color: #E6E6E6;
	}

	.darkgreybg {
		background-color: #D2D2D2;
	}
}
