.quotes {
	background-color: @primary-base;

	.main-wrap {

		/* change the width percentage on table */
		/* 90% = 540px  --  95% = 570px + 30px */
		max-width: @main-max-width + 30;
		background-color: @lighten-theme-base;

		a, p {

			color: @primary-color-text;
			font-size: 16px;
			line-height: 20px;
			text-align: left;
		}
	}
}
