.signature {
	background-color: @primary-base;

	.main-wrap {
		@mainWrap: @main-max-width - 40;
		//change the width percentage on table
		// unit((540 * 100) / 600)+0% = 90%
		width: unit((@mainWrap * 100) / @main-width)+0%;
		max-width: @mainWrap;
		background-color: @secondary-base;

		.nbSig {
			width: 163px;
			max-width: 163px;
			height: 23px;
			max-height: 23px;
		}

		a, p {
			font-family: @openSans;
			font-weight: 300;
			font-size: 16px;
			color: @primary-color-text;
			line-height: 150%;
		}

		span {
			font-family: @openSans;
			font-weight: 300;
			font-size: 16px;
			color: @primary-color-text;
			line-height: 150%;
		}

		a {
			color: @theme-color-text;
			text-decoration: underline;
			// border-bottom: 1px solid @theme-color-text;
		}
	}
}
