.three-col__contatent {
	background-color: @primary-base;

	.main{
		background-color: @primary-base;
	}

	.main-wrap {
		@mainWrap: @main-max-width - 0;
		//change the width percentage on table
		// unit((540 * 100) / 600)+0% = 90%
		width: unit((@mainWrap * 100) / @main-width)+0%;
		max-width: @mainWrap;
		background-color: @primary-base;
		text-align: center;

		/* first row is a top spacer */
		tr:not(:nth-child(2)) {
			td {
				height: 20px;
				font-size: 20px;
				line-height: 20px;
			}
		}

		a, p {
			font-size: 10px;
			color: #5F6466;
			letter-spacing: 0.2px;
		}

		img {
			max-width: 117px;
			max-height: 17px;
		}

		img[src^="/images/spacer.gif"] {
			min-height: 20px;
			max-height: 20px;
			max-width: 0.1px;
		}

		tr:nth-child(3) {

			img[src^="/images/spacer.gif"] {

				min-height: 16px;
				max-height: 16px;
				max-width: 0.1px;
			}
		}
	}

	.three-col__container {
		max-width: @main-width;
		background-color: @primary-base;
		text-align: left;

		a, p {
			font-size: 10px;
			color: #5F6466;
			letter-spacing: 0.2px;
		}

		a {
			text-decoration: underline;
			cursor: pointer;

			// text-decoration: none;
			// border-bottom: 1px solid @primary-color-text;

			&[href^='mailto:'],
			&[href^='tel:'],
			&:hover,
			&:active,
			&:visited {
				color: @primary-color-text;
				// text-decoration: none;
				// border-bottom: 1px solid @primary-color-text;
			}
		}

		div {
			background-color: @primary-base;
			display: inline-block;
			vertical-align: middle;
			border: 0;

			&:first-child,
			&:last-child {
				table {
					max-width: (600-288px)/2;
					display: inline-block;

					td:nth-child(2) {
						width: (600-288px)/2;
					}
				}
			}

			&:nth-child(2) {
				table {
					max-width: 288px;
					display: inline-block;

					td:nth-child(2) {
						width: 268px;
					}
				}
			}
		}
	}
}
